<nav>
    <ul class="sidebar-nav">
        {{- range .Site.Menus.main.ByWeight }}
            {{ partial "sidebar/menulink.html" . }}
            {{ if .HasChildren }}
                {{ with .Pre }}
                    <li class="sub-heading">
                        {{ . }}
                    </li>
                {{ end }}
                {{ range .Children }}
                    {{ partial "sidebar/menulink.html" . }}
                {{ end }}
            {{ end }}
            {{ if .Params.section }}
                {{ with .Pre }}
                    <li class="sub-heading">
                        {{ . }}
                    </li>
                {{ end }}
                {{ range where (where $.Site.AllPages "Section" "==" .Params.section) "Kind" "==" "page" | first .Params.limit }}
                    <li class="bullet">
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}" hreflang="{{ .Language.Lang }}">{{ .LinkTitle }}</a>
                    </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</nav>
