<nav>
    <ul class="sidebar-nav">
        {{- range .Site.Menus.main.ByWeight }}
            {{ partial "sidebar/menulink.html" . }}
            {{ if .HasChildren }}
                {{ with .Pre }}
                    <li class="sub-heading">
                        {{ . }}
                    </li>
                {{ end }}
                {{ range .Children }}
                    {{ partial "sidebar/menulink.html" . }}
                {{ end }}
            {{ end }}
            {{ if .Params.section }}
                {{ with .Pre }}
                    <li class="sub-heading">
                        {{ . }}
                    </li>
                {{ end }}
                {{ $s := .Params.section }}
                {{/* Get pages from current site. */}}
                {{ $p := where $.Site.RegularPages "Section" $s }}
                {{/* Add pages from other sites. */}}
                {{ range complement (slice $.Site) $.Site.Sites }}
                    {{ $p = $p | lang.Merge (where .RegularPages "Section" $s) }}
                {{ end }}
                {{/* Render list. */}}
                {{ range $p.ByDate.Reverse | first .Params.limit }}
                    <li class="bullet">
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}" hreflang="{{ .Language.Lang }}">{{ .LinkTitle }}</a>
                    </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</nav>
