{{- if .Site.Params.feeds.rss.icon -}}
    <a target="_blank" class="social" title="RSS Feed" href="/{{ with .Site.Params.feeds.rss.section }}{{ . }}/{{ end }}rss.xml">
        {{- partial "svg" "feed" -}}
    </a>
{{- end -}}

{{- if .Site.Params.feeds.atom.icon -}}
    <a target="_blank" class="social" title="Atom Feed" href="/{{ with .Site.Params.feeds.atom.section }}{{ . }}/{{ end }}atom.xml">
        {{- partial "svg" "feed" -}}
    </a>
{{- end -}}

{{- with .Site.Params.social -}}
    {{- range . -}}
        <a href="{{ .url }}" target="_blank" class="u-url social" rel="external noopener {{ .rel }}" title="{{ .name | humanize }}">{{- partial "svg" .name -}}</a>
    {{- end -}}
{{- end -}}