<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.Language.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
    <!-- Title Tags -->
    <title itemprop="name">
    {{- if .IsHome -}}
        {{ $.Site.Title }}
    {{- else -}}
        {{ .Title }} :: {{ $.Site.Title }}
    {{- end -}}
    </title>
    <!-- Meta tags -->
    {{ partial "head/meta.html" . }}
    <!-- Custom head tags -->
    {{- if templates.Exists "partials/extra-head.html" -}}
        {{ partial "extra-head.html" . }}
    {{- end }}
    <!-- Styling and scripts -->
    {{ partialCached "head/stylesheets.html" . }}
    {{ partialCached "head/scripts.html" . }}
</head>
