<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
    <!-- Title Tags -->
    <title itemprop="name">
    {{- if .IsHome -}}
        {{ $.Site.Title }}
    {{- else -}}
        {{ .Title }} :: {{ $.Site.Title }}
    {{- end -}}
    </title>

    {{ partial "head/scripts.html" . }}

    <!-- META -->
    {{ partial "head/meta.html" . }}

    <!-- CSS stylesheets -->
    {{ partial "head/stylesheets.html" . }}
    <!-- Custom style tag for parameterized CSS -->
    {{ partial "head/css.html" . }}
</head>
