<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Robots -->
<meta name="robots" content="{{ if .Params.noindex }}noindex, {{ end }}noodp, noydir" />
<meta name="googlebot" content="{{ if .Params.noindex }}noindex, {{ end }}noodp, noydir" />
<!-- Links -->
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<!-- Icons -->
{{ partial "head/favicon.html" . }}
<!-- Social media -->
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
<!-- Description Tags -->
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
<meta itemprop="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
<!-- Date Tags -->
<meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
<!-- Sitemap & Alternate Outputs -->
<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
{{ end -}}
<!-- Other Tags -->
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- Article Specific Tags -->
{{ if and (eq .Section "posts") (.Page.IsNode) }}
  <!-- Pagination meta tags for list pages only -->
  {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}" />
    <link rel="last" href="{{ $paginator.Last.URL }}" />
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}" />
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}" />
    {{ end }}
  {{ end }}
{{ end }}
