<h1 class="post-title p-name u-url">
  <a href="{{ .Permalink }}">{{ .Title }}</a>
</h1>

<div class="headline">
  <div>
    {{ with .Params.author }}
      <span class="h-card p-author">
        {{ with site.Taxonomies.author.Get . }}
          <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> - </span>
        {{ else }}
          {{ . }}
        {{ end }}
      </span>
    {{ end }}
    {{ if .Date }}
    <span> • </span>
    <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z0700" }}" class="post-date dt-published">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
    {{ end }}
    <span> • </span>
    <span class="reading-time">
      <span>{{ .ReadingTime }} {{ if gt .ReadingTime 1 }}mins{{ else }}min{{ end }} read</span>
    </span>
  </div>

  {{ if .Params.tags }}
  <ul class="tags">
    {{ range .Params.tags }}
    <li class="tag-{{ . }}">
      <a class="p-category" href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ $Site := .Site }}
{{ if .Params.series }}
  <p class="seriesname">
    Series: <a class="p-category" href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
  </p>
{{ end }}

{{ if .Params.featuredImage }}
  <p>
    <img class="u-photo" src="{{.Params.featuredImage}}"><br>
  </p>
{{ end }}