<h1 class="post-title">
  <a href="{{ .Permalink }}" class="p-name u-url" rel="bookmark">{{ .Title }}</a>
</h1>

<div class="headline">
  <div>
    {{- if .IsTranslated -}}
      {{- partial "post/translations.html" . -}}
      <span class="whitespace"> • </span>
    {{- end -}}
    {{- with .Params.author -}}
      <span class="h-card p-author">
        {{- with site.Taxonomies.author.Get . -}}
          <a href="{{ .Page.RelPermalink }}" rel="author">{{ .Page.LinkTitle }}</a></span>
        {{- else -}}
          {{- . -}}
        {{- end -}}
      </span>
    {{- end -}}
    {{- $pubdate := .PublishDate -}}
    {{- with .PublishDate -}}
      <span class="whitespace"> • </span>
      <time datetime="{{ $pubdate | time.Format "2006-01-02T15:04:05Z0700" }}" class="post-date dt-published">
        {{- $pubdate | time.Format ":date_medium" -}}
      </time>
      {{- with ($.Lastmod) -}}
        {{- if gt (.Format "2006-01-02") ($pubdate.Format "2006-01-02") -}}
          <span class="whitespace"> </span>
          <time datetime="{{ . | time.Format "2006-01-02T15:04:05Z0700" }}" class="post-date dt-updated">
            ({{- . | time.Format ":date_medium" -}})
          </time>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    <span class="whitespace"> • </span>
    {{- with .ReadingTime }}
    <span class="reading-time">
      <data class="p-duration" value="PT{{ . }}M">
        {{ . }} {{- if gt . 1 }} mins {{ else }} min {{ end -}} read
      </data>
    </span>
    {{- end }}
  </div>

  {{- with .Params.categories -}}
  <ul class="tags">
    {{- range . -}}
    <li class="tag-{{ . }}">
      <a class="p-category" href="{{ "categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
    </li>
    {{- end -}}
  </ul>
  {{- end -}}
</div>

{{- with .Params.series -}}
  <p class="seriesname">
    Series: <a class="p-category" href="{{ $.Site.BaseURL }}series/{{ . | urlize }}">{{ . }}</a>
  </p>
{{- end -}}

{{- with .Params.featuredImage -}}
  <p class="featuedImage" hidden="from-humans">
    <img class="u-photo" src="{{ . }}" />
  </p>
{{- end -}}