/* Blog post info whitespace */

.whitespace {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.whitespace:empty {
    margin-right: unset;
}

/* Scrollbar on sidebar */
.sidebar {
    --scrollbar-color-thumb: rgb(70, 70, 70);
    --scrollbar-color-thumb-hover: rgb(150, 150, 150);
    --scrollbar-color-track: auto;
    --scrollbar-color-track-legacy: transparant;
    --scrollbar-width: auto;
    --scrollbar-width-legacy: 7px;
    --scrollbar-border-radius: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    .sidebar {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .sidebar::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
    .sidebar::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track-legacy);
        border-radius: var(--scrollbar-border-radius);
    }
    .sidebar::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
        border-radius: var(--scrollbar-border-radius);
    }
    .sidebar::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color-thumb-hover);
    }
}
