.webmention-stats {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.webmention-logo {
    display: inline-flex;
    flex: 0 0 auto;

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.webmention-total {
    display: inline-flex;
}
